*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background:green
    

}
h2{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    padding: 20px;
    animation: 1s forwards spin;
    display: none;
}
.congrat{
    display: block;
}
@keyframes spin {
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1)
    }
}
h1{
    padding-top: 20px;
    padding-bottom: 10px;
}
.container{
   
    background-color: rgb(3, 41, 29);
    color: white;
    width:50%;
    height: 360px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;flex-direction: column;
    border-radius:4px;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    padding: 10px;
}
button{
    background-color: lawngreen;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    font-size: 1.2rem;
    font-weight: 600;
    color: green;
    width: 150px;
}
#restart-game{
    display: none;
}
.r-start-game{
    display: none;
}
.r-new-game{
    display: none;
}